.construct-page{
    position: relative;
    background: #ebebeb;
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem;
    border-radius: .5rem;
}
.construct-form{
    padding: 1rem;
}
.stepClass{
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.stepButton{
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
}
